@model IEnumerable<ShoppingSite_FrontEnd.Site.Models.ViewModels.ProductVM>

<style>
  .productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
  }

  .productList_item {
    width: 381.66px;
  }
</style>

<div class="container">
  <ul class="productList">
    @foreach (var item in Model)
    {
      <li class="productList_item">
        <img src="~/Assest/@Html.DisplayFor(modelItem => item.ProductImage)">
        <h3>
          @Html.DisplayFor(modelItem => item.Name)
        </h3>
        <p>
          @Html.DisplayFor(modelItem => item.Description)
        </p>
        <br />
        <span>$@Html.DisplayFor(modelItem => item.Price)</span>

        @*@if (User.Identity.IsAuthenticated)
          {*@
        <button class="add2cart btn btn-primary btn-sm" data-id="@item.Id">加入購物車</button>
        @*}*@
      </li>
    }
  </ul>
</div>
